# Dependencies
node_modules
.pnpm-store

# Build output
dist
.output

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SSH Keys (regenerate with pnpm run setup)
host.key
host.key.pub

# Temporary files
.temp
.tmp
.cache

# Generated types
*.tsbuildinfo